{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<nav class="site-nav" id="site-nav">
    <div class="utility-nav site-nav-left">
        <a href="/"><span class="icon-list"></span> <span class="hide-small">See all tutorials</span></a>
    </div>
    <a class="course-logo" href="/"></a>
    <div class="info-panel site-nav-right">
        <a href="/about"><span class="icon-info"></span> <span class="hide-small">About</span></a>
        <form class="site-search">
            <input type="search" id="site-search"/>
            <button type="submit">
                <span class="icon-search"></span>
            </button>
        </form>
    </div>
</nav>
<section id="site-search-results">
</section>

<main class="content" role="main">

    <article class="{{post_class}}">

        {{#post}}

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{content}}
            </section>

        {{/post}}

    </article>

</main>
