@import "bourbon/bourbon";
@import "mixins";
@import "variables";
@import "screen";

html {
  -webkit-font-smoothing: antialiased;
}

* {
  @include box-sizing(border-box);
}

body {
  font-family: $font-serif;
  padding-top: 74px;
  &.home-template {
    padding-top: 0;
  }
}

.site-head {
  background: url('../img/blueprint.png');
  background-size: 150px 150px;
  border-top: 6px solid $green;
  @include breakpoint(small) {
    padding-top: 15%;
    .blog-title {
      margin-top: 0;
    }
  }
}

input,
button,
textarea {
  font-family: $font-sans;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-family: $font-sans;
  color: white;
  background: $blue-bright;
  text-decoration: none;
  border-radius: $border-radius;
  @include transition($transition);
  &:hover {
    color: white;
    background: lighten($blue-bright, 5%);
  }
}

//== Main Navigation
.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  padding: 14px 15px 16px;
  background: url('../img/blueprint.png');
  background-size: 150px 150px;
  border-top: 6px solid $green;
  color: fade-out(white, .25);
  font-family: $font-sans;
  @include clearfix();
  //Reset for home
  .home-template & {
    position: relative;
    background: $blue-dark;
    z-index: 999;
    border-top: 0;
    input[type="text"],
    input[type="search"] {
      background: $blue-darkest;
      border-color: $blue-darkest;
    }
  }
  a {
    color: #ccc;
    color: fade-out(white, .25);
    text-decoration: none;
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    &:hover {
      color: white;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .list-view-toggle {
    li {
      display: inline-block;
      a {
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        text-align: center;
        font-size: 2rem;
      }
      &.active a {
        background: $green;
        color: $blue-dark;
      }
      span {
        position: relative;
        top: 4px;
      }
    }
  }
  input[type="text"],
  input[type="search"] {
    padding: 5px;
    background: lighten($blue-darkest, 13%);
    border: 2px solid lighten($blue-darkest, 13%);
    border-radius: 2px;
    color: white;
    font-size: 1.6rem;
    &:focus {
      outline: none;
    }
  }
  .site-nav-left {
    float: left;
  }
  .site-nav-right {
    float: right;
  }
}

.course-logo {
  $logo-size: 50px;

  display: block;
  position: absolute;
  top: 10px;
  left: 50%;
  width: $logo-size;
  height: $logo-size;
  margin-left: -($logo-size/2);
  background: url('../img/logo_angular.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include transform(scale(.85));
}

.info-panel {
  form {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    @include breakpoint(small) {
      margin-left: 5px;
    }
    input[type="search"] {
      padding-right: 35px;
    }
    button {
      font-size: 2.2rem;
      margin-left: -38px;
      background: transparent;
      border: 0;
      -webkit-appearance: none;
      color: fade-out(white, .25);
      &:hover {
        color: white;
      }
      &:focus {
        outline: none;
      }
      > span {
        position: relative;
        top: 2px;
      }
    }
  }
}

#site-search-results {
  $search-results-color: lighten($blue-dark, 7%);
  position: relative;
  z-index: 1001;
  background: $search-results-color;
  &:before {
    display: none;
    content: "";
    position: absolute;
    top: -16px;
    right: 30px;
    @include triangle(16px, $search-results-color, up);
  }
  &.active {
    &:before {
      display: block;
    }
  }
  > p {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-family: $font-sans;
    color: white;
  }
  #clear-results {
    position: absolute;
    top: 22px;
    right: 30px;
    color: fade-out(white, .25);
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  .post {
    display: block;
    margin: 2rem auto;
    padding: 0 2rem 2rem;
    text-decoration: none;
    border-bottom: 1px solid $blue-dark;
    @include transition($transition);
    &:last-child {
      border-bottom: 0;
      padding-bottom: 4rem;
    }
    &:hover {
      .post-title {
        color: lighten($blue-bright, 20%);
      }
    }
  }
  .post-title {
    font-size: 3rem;
    color: white;
    @include transition($transition);
  }
  .post-meta {
    color: lighten($blue, 25%);
  }
}

.preview-list {
  counter-reset: post;
  .post-preview {
    display: block;
    padding-top: 5rem;
    border-top: 2px solid #eee;
    @include breakpoint(small) {
      padding: 2rem;
    }
    &:first-child {
      border-top: 0;
    }
  }
  .post {
    margin: 0 auto;
    counter-increment: post;
    border-bottom: 0;
    @include breakpoint(small) {
      padding-bottom: 2rem;
    }
    header {
      position: relative;
      &:before {
        display: none;

        $counter-size: 30px;

        content: counter(post);
        position: absolute;
        left: -$counter-size - 24px;
        top: 7px;
        width: $counter-size;
        height: $counter-size;
        background: $red;
        border-radius: $border-radius;
        text-align: center;
        color: white;
        font-size: 1.4rem;
        font-family: $font-mono;
        font-weight: 600;
      }
    }
  }
  .post-meta {
    a {
      color: $link-color;
    }
  }
}

[role="main"] {
  margin-top: 10rem;
  @include breakpoint(small) {
    margin-top: 2rem;
  }
  &#tutorials {
    margin-top: 2rem;
  }
}

.site-footer {
  background: #EDEFF1;
  color: #757575;
  font-size: 19px;
  padding: 4rem;
  @include clearfix();
  @include breakpoint(small) {
    text-align: center;
  }
  a {
    color: $body-color;
  }
  .copyright {
    float: left;
    margin-bottom: 15px;
    small {
      display: block;
    }
    .logo {
      position: relative;
      top: 5px;
      margin-left: 7px;
    }
  }
  .social {
    float: right;
    @include breakpoint(small) {
      float: none;
    }
    ul {
      margin: 9px 0 0;
      padding: 0;
      list-style-type: none;
      @include clearfix();
      @include breakpoint(small) {
        text-align: center;
      }
    }
    li {
      display: block;
      float: left;
      line-height: 1.1;
      margin-left: 15px;
      @include breakpoint(small) {
        display: inline-block;
        float: none;
        clear: both;
      }
      &:first-child {
        @include breakpoint(small) {
          display: block;
          margin-bottom: 1rem;
        }
      }
    }
    iframe {
      margin: 0;
    }
  }
}

//== Post Page
.post-template {
  [role="main"] {
    padding: 15px;
  }
  .post {
    width: 90%;
    max-width: 1024px;
    @include clearfix();
    @include breakpoint(small) {
      width: 85%;
    }
    &.ouija-active {
      right: 320px;
      @include breakpoint(small) {
        right: 280px;
      }
    }
    &.page {
      width: 80%;
      max-width: 700px;
      @include breakpoint(small) {
        width: 95%;
      }
    }
  }

  $sidebar-width: 185px;
  $sidebar-offset: 50px;

  #sidebar {
    position: fixed;
    float: left;
    width: $sidebar-width;
    margin-bottom: 2em;
    @include breakpoint(small) {
      position: relative;
      float: none;
      width: 100%;
      > * {
        display: block;
      }
    }
  }
  .post-content {
    float: left;
    padding-left: $sidebar-width + $sidebar-offset;
    @include breakpoint(small) {
      float: none;
      padding-left: 0;
    }
  }
  .post-meta {
    display: block;
  }
  .post-title {
    margin-top: -.25em;
  }
  // </post-template>
}

%icon-before {
  position: relative;
  [class^="icon-"],
  [class*=" icon-"] {
    position: absolute;
    left: -20px;
    top: 3px;
    font-size: .9em;
  }
}

#sidebar {
  .post-subtitle {
    background: $red;
    color: white;
    display: inline-block;
    padding: .5em .8em .45em;
    margin-bottom: 25px;
    border-radius: $border-radius;
    font-size: 1.6rem;
    @include breakpoint(small) {
      display: block;
      text-align: center;
    }
  }
  .tags {
    line-height: 1.3;
    margin-bottom: 15px;
    @extend %icon-before;
    a {
      color: $link-color;
    }
  }
  time {
    display: block;
    font-weight: 600;
    line-height: 1.3;
    @extend %icon-before;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    color: fade-out($body-color, .8);
  }
}


//== Post Footer
.post-footer {
  @include clearfix();
  a {
    text-decoration: none;
    font-family: $font-sans;
    font-size: 1.75rem;
    color: lighten($body-color, 20%);
    span {
      position: relative;
    }
    &:hover {
      color: $link-color;
    }
  }
  #previous-lesson {
    float: left;
    &:hover {
      span { left: -3px; }
    }
  }
  #next-lesson {
    float: right;
    &:hover {
      span { right: -3px; }
    }
  }
}

//== Tag Template
.tag-archive-header {
  &:after {
    display: none;
  }
  h4 {
    margin-left: -15px;
    color: $green-dark;
    span {
      color: fade-out($green, .25);
      font-size: .8em;
      margin-right: 15px;
    }
  }
}

//== Hidden Details
#post-details {
  visibility: hidden;
  display: none;
}

//== Ouija
.ouija {
  .ouija-login h5 {
    font-weight: 400;
  }
  h1, h2, h3, h4, h5, h6, p,
  .ouija-button,
  .ouija-comments {
    font-family: $font-sans;
  }
}
.ouija-button {
  font-family: $font-sans;
}

//== Headroom
.headroom {
  @include transition(all .15s ease-in-out);
  &--pinned {
    @include transform(translateY(0%));
  }
  &--unpinned {
    @include transform(translateY(-100%));
  }
}

//== Utilities
.hide-small {
  @include breakpoint(small) {
    display: none;
  }
}

